<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.maru.pjt.product">
  <select id="getProductList" resultType="productVo">
    select * from product p
    left outer join product_photo pp
    on p.product_idx = pp.product_idx
    where deleted_yn = 'N' and product_major_category like #{product_major_category}
    order by p.product_idx DESC
  </select>

  <select id="getSaleList" resultType="productVo">
    select * from (select
    product_name, product_price, product_sale, product_sale_price, product_sale_percent,
    deleted_yn, p.PRODUCT_IDX, pp.FILE_ORIGINAL
    from product p
    left outer join product_photo pp
    on p.product_idx = pp.product_idx
    order by p.product_sale_percent desc) a
    where a.deleted_yn = 'N' and a.product_sale = 'Y'
  </select>

  <select id="getProductNameProductList" parameterType="map" resultType="productVo">
    select * from product p
    left outer join product_photo pp
    on p.product_idx = pp.product_idx
    where deleted_yn = 'N'
    and product_name like CONCAT('%',#{product_name},'%')
  </select>

  <select id="getPriceRangeProductList" parameterType="map" resultType="productVo">
    select * from product p
    left outer join product_photo pp
    on p.product_idx = pp.product_idx
    where deleted_yn = 'N' and product_price &gt;= 50000 and product_price &lt; 100000
    order by product_price desc
  </select>
  <!-- where deleted_yn = 'N' and product_price &gt;= 50000 and product_price &lt; 100000 -->
  <!-- where deleted_yn = 'N' and product_price &gt;= 0 and product_price &lt; 50000 -->
  <!-- where deleted_yn = 'N' and product_price &gt;= #{min} and product_price &lt; #{max} -->

  <select id="getOrderByProductList" parameterType="map" resultType="productVo">
    select * from product p
    left outer join product_photo pp
    on p.product_idx = pp.product_idx
    where deleted_yn = 'N'
    <if test="orderBy.equals('lowprice')">
      order by product_price
    </if>
    <if test="orderBy == 'highprice'">
      order by product_price desc
    </if>
    <if test="orderBy == 'popular'">
      order by product_hit desc
    </if>
    <if test="orderBy == 'avgstar'">
      order by product_avgstar desc
    </if>
    <if test="orderBy == 'newitem'">
      order by p.product_idx desc
    </if>
  </select>



  <!-- ================================================= -->
  <insert id="productAdd" parameterType="productVo">
    insert into product (
    product_name, product_price, product_sale, product_sale_percent,
    product_size, product_major_category,
    product_detail, product_inventory
    ) values (
    #{product_name}, #{product_price}, #{product_sale}, #{product_sale_percent},
    #{product_size}, #{product_major_category},
    #{product_detail}, #{product_inventory})
    <selectKey resultType="int" keyProperty="product_idx" order="AFTER">
      select max(product_idx) from product
    </selectKey>
  </insert>

  <insert id="productAdd_file" parameterType="fileVo">
    INSERT INTO product_photo (
    product_idx, file_original, file_system, file_extension
    ) VALUES (
    #{product_idx}, #{file_original}, #{file_system}, #{file_extension}
    )
  </insert>

  <select id="getProduct" parameterType="int" resultType="productVo">
    select * from product p
    left outer JOIN product_photo pp
    on p.product_idx = pp.product_idx
    where p.product_idx = #{product_idx}
  </select>

  <update id="upHit" parameterType="int">
    UPDATE product
    SET
    product_hit = product_hit + 1
    WHERE
    product_idx = #{product_idx}
  </update>

  <update id="productUpdate" parameterType="productVo">
    UPDATE product
    SET
    product_name = #{product_name},
    product_price = #{product_price},
    product_sale = #{product_sale},
    product_sale_percent = #{product_sale_percent},
    product_size = #{product_size},
    product_inventory = #{product_inventory},
    product_major_category = #{product_major_category},

    product_detail = #{product_detail}
    WHERE
    product_idx = #{product_idx}
  </update>

  <update id="deleteProduct" parameterType="int">
    UPDATE product
    SET
    deleted_yn = 'Y'
    WHERE
    product_idx = #{product_idx}
  </update>

  <delete id="dropProduct" parameterType="int">
    delete from product
    where product_idx = #{product_idx}
  </delete>
</mapper>	