<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.maru.pjt.reply">

  <insert id="writeReply" parameterType="replyVo">
    INSERT INTO announce_reply (
    idx, member_idx, reply_content
    ) VALUES (
    #{idx}, #{member_idx}, #{reply_content}
    )
  </insert>

  <select id="getReplyList" resultType="replyVo">
    SELECT * FROM announce_reply 
    WHERE idx = #{idx} and deleted_yn = 'N'
    order by reply_idx
  </select>

  <update id="editReply" parameterType="replyVo">
    UPDATE announce_reply
    SET
    reply_content = #{reply_content}
    WHERE
    reply_idx = #{reply_idx} and member_idx = #{member_idx}
  </update>

  <delete id="removeReply" parameterType="replyVo">
    UPDATE announce_reply
    SET
    deleted_yn = 'Y'
    WHERE
    reply_idx = #{reply_idx} and member_idx = #{member_idx}
  </delete>

</mapper>	